# Ignorer les fichiers de cache Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
*.so

# Ignorer les fichiers de cache Jupyter Notebook
.ipynb_checkpoints/

# Ignorer les environnements virtuels
venv/
env/
ENV/
.venv/
.pyenv/

# Ignorer les fichiers de configuration des éditeurs
.vscode/
.idea/

# Ignorer les fichiers temporaires et les logs
*.log
*.tmp
*.temp

# Ignorer les bases de données locales
*.sqlite3
*.db

# Ignorer les fichiers de données sensibles
*.csv
*.json
*.h5
*.hdf5
dataset/
myenv/
src/__pycache__/
src/client/__pycache__/
src/server/__pycache__/
tests/__pycache__/
.pytest_cache/

# Ignorer les clés SSH et informations sensibles
*.pem
*.key
*.crt

# Ignorer les fichiers téléchargés
downloads/

# Ignorer les fichiers de modèles
*.pkl

# Ignorer les fichiers du modèle FHE
/models/fhe_files
