wheel
setuptools
concrete-ml
kaggle
pandas
sphinx
sphinx_rtd_theme
fastapi
uvicorn
joblib
scikit-learn
pytest
httpx
jupyter
nbconvert
pydantic
flake8
black
pylint==3.3.1
flake8-black
xgboost==1.6.2
requests
nbqa
pytest-notebook
matplotlib
seaborn
